body{
    background: #0b0b0b;
    color: #ffffff;
    padding: 50px;
    font-family: Helvetica;
    }
    
    h1{
    font-size: 3em;
    padding-bottom: 5px;
    border-bottom: 3px solid yellow;
    }
    
    #imperial{
        width: 300px;
    }
    
    h2{
    font-size: 2.2em;
    }
    #leia{
        color: yellow;
        }
    #meanwhile{
        color: yellow;
    }
    
    #galaxy {
        color: yellow;
    }

    #galaxy-characters{
        color: yellow;
    }
    
    .burndown{
        background-color: #424242;
        padding: 10px;
    }

    html {
        font-family: Helvetica, sans-serif;
      }
      
      form {
        display: table;
        margin: 0 auto;
      }
      
      form div {
        display: table-row;
      }
      
      form label, form input {
        display: table-cell;
        margin-bottom: 10px;
      }
      
      form label {
        width: 200px;
        padding-right: 5%;
        text-align: right;
      }
      
      form input {
        width: 300px;
      }
      
      form p {
        display: table-caption;
        caption-side: bottom;
        width: 300px;
        color: #999;
        font-style: italic;
      }